

.artgridcontainer{
    width: 100%;
    padding: 0px 0px 0px 175px;
}

.artgrid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.artgrid > div >img {
    width: 20em;
    height: auto;
    transition: ease 1s;
    margin: 35px;  
    /* drop shadow copied & adjusted from : https://stackoverflow.com/questions/3186688/drop-shadow-for-png-image-in-css */
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.205));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.205));
    
}

.artgrid > div >img:hover{
    width: 25em;
    transition: ease .5s;
}
.artgrid > div > iframe {
    width: 40em;
    height: 25em;
    transition: ease 1s;
    margin: 5%;
    padding: 0px;  

}

#INV{
    filter: invert();
}

.galleryimage{
    opacity: 0%;
}

.info{
    visibility: visible;
    position:relative;
    fill: rgb(255, 94, 94);
    width: 25px;
    height: 25px;
    transform: translate(-55px, -15px);
    opacity: 0%;
    
}


.info:hover + .content{
    visibility: visible;
    position: static;
    background-color: white;
    transform: translate(50px,-300px);
}
.content {
    visibility:hidden;
    position:static;
    transform: translate(25px, -300px);
    width: 20em;
    z-index: 1;
    padding: 5px;
    background-color: white;
    overflow-wrap: break-word;
}