
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

$font-stack: Times, serif;
$primary-color:#272727;
$secondary-color: #dabc13;
$third-color: rgb(220, 132, 255);
$background-color:#3a3a3a;
$hov-color: rgb(130, 130, 253);

h1, h2, h3, h4, h5, h6, a, p, span {
  font-family: termina, sans-serif;
  font-weight: 600;
    color: $secondary-color;
}

html {
    scroll-behavior: smooth;
  }
body{ 
    background-color: $background-color;
    text-decoration:  none;
    overflow-x: hidden;
    
    
}

a{
    color: $secondary-color;
    text-decoration: none;
    &:hover{
        color:$hov-color;
        transition: ease-in-out .25s;
    }
}

nav{ 
    background-color: $primary-color;
    width: 100vw;
    padding: 1rem;
}

hr{
    width: 120%;
    transform: translateX(-10%);
}
.row{
    background: $background-color;
    margin: 3rem;
    display: flex;
    align-items:center;
    
}

.center{
    @include flexCenter();
}

.title{
    font-size: 10rem;
    opacity: 100%;

}

.primarycolor{
    background-color: $primary-color;
    padding: 1rem;
}

.films{
    justify-content: center;
}




.icons{
    color: $secondary-color;
    text-align: center;
    margin: auto;
    justify-content: center;
    i{
      margin: 3rem;
    }
  :hover{
    color: $hov-color;
    cursor: pointer;
  }
  }

  .gallery {
    background: transparent;
    border-radius: 10px;
    vertical-align: baseline;
  }
  
  .gallery-cell {
    padding:2%;
    height: 30vw;

  }
  .flickity-slider {
    display: flex;
    align-items: center;
  }


@media only screen and (max-width: 981px){
  .gallery-cell {
    height: auto;
    width: 100%;


  }
  .description {
    margin-top: 4rem;
  }
}