@import "node_modules/bootstrap/scss/bootstrap";


@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

$font-stack: Times, serif;
$primary-color: #c6e0f6;
$secondary-color: #8b9dac;
$third-color: #f6dbc6;
$background-color:#fff2e5;
$hov-color: rgb(130, 130, 253);

h1, h2, h3, h4, h5, h6, a, p, span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: $secondary-color;
}

body{ 
    background-color: $background-color;
    text-decoration:  none;
    overflow-x: hidden;
    
}

a{
    color: $secondary-color;

    padding: 1rem;

    text-decoration: none;
    &:hover{
        color:$hov-color;
        background-color: $third-color;
        border-radius: 100%;
        transition: ease-in-out .25s;
    }
}

nav{ 
    background-color: $primary-color;
}
.row{
    background: $background-color;
    margin: 1rem;
    
}

.center{
    @include flexCenter();
}

.title{
    font-size: 10rem;
    opacity: 100%;

}

.row > img{
    padding: 3rem;
}


.parallax{
    width: 100%;
    height: 150vh;
    background: url(assets/svgmask/image.png);
    background-size: cover;
    position: relative;
}
.mask{
    mask:url(assets/svgmask/cutout.png);
    mask-size: cover;
    -webkit-mask:url(assets/svgmask/cutout.png);
    -webkit-mask-size: cover;
    width:100%;
    height: 100%;

}
.headline{
    position:fixed;
    font-size: 5vw;
    text-align: center;
    width:100%;
    top: 30vh;
    opacity: 100%;
}
.headline-logo{
    background-color: $third-color;
    padding: 1rem;
    border-radius: 100%;
}

.three-container{
    height: 400px;
    width: 300px;
    position: fixed;
}

.toggler-stroke-color{
    border-color: none;
}

.toggler-hamburger-color{
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpathstroke='rgb(139, 157, 172)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}